.icons {
    display: block;
    font-size: 0;
    margin: 0;
    text-align: center;
    list-style: none;
}
.icons li {
    display: inline-block;
    margin: 0.001rem;
}
.icons a, .icons svg {
    display: block;
}
.icons a {
    position: relative;
    height: 3.15rem;
    width: 3.15rem;
}
.icons svg {
    height: 60%;
    width: 60%;
}
.icons em {
    font-size: 14px;
    line-height: 1.5;
    margin-top: -0.75em;
    position: absolute;
    text-align: center;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
}

@media (min-width: 720px) {
    .icon-1:hover, .icon-2:hover, .icon-3:hover, .icon-4:hover, .icon-5:hover,
    .icon-6:hover, .icon-7:hover, .icon-8:hover, .icon-9:hover, .icon-10:hover,
    .icon-11:hover, .icon-12:hover, .icon-13:hover, .icon-14:hover, .icon-15:hover,
    .icon-16:hover, .icon-17:hover, .icon-18:hover, .icon-19:hover, .icon-20:hover,
    .icon-21:hover, .icon-22:hover, .icon-23:hover, .icon-24:hover, .icon-25:hover,
    .icon-26:hover, .icon-27:hover, .icon-28:hover, .icon-29:hover, .icon-30:hover {
        border: 2px dotted;
        border-radius: 15px;
        fill: #0e1a25;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transition: background-color 0.25s, -webkit-transform 0.25s ease-out;
        transition: background-color 0.25s, -webkit-transform 0.25s ease-out;
        transition: background-color 0.25s, transform 0.25s ease-out;
        transition: background-color 0.25s, transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
    }
    .icon-1:hover {
        background: #d96e26;
    }
    .icon-2:hover {
        background: #d99126;
    }
    .icon-3:hover {
        background: #d9b526;
    }
    .icon-4:hover {
        background: #d9b526;
    }
    .icon-5:hover {
        background: #d99126;
    }
    .icon-6:hover {
        background: #d96e26;
    }
    .icon-7:hover {
        background: #d96e26;
    }
    .icon-8:hover {
        background: #d99126;
    }
    .icon-9:hover {
        background: #d9b526;
    }
    .icon-10:hover {
        background: #d99126;
    }
    .icon-11:hover {
        background: #d96e26;
    }
}

.icon-1 {
    color: #d96e26;
    fill: #d96e26;
}

.icon-2 {
    color: #d99126;
    fill: #d99126;
}

.icon-3 {
    color: #d9b526;
    fill: #d9b526;
}

.icon-4 {
    color: #d9b526;
    fill: #d9b526;
}

.icon-5 {
    color: #d99126;
    fill: #d99126;
}

.icon-6 {
    color: #d96e26;
    fill: #d96e26;
}

.icon-7 {
    color: #d96e26;
    fill: #d96e26;
}

.icon-8 {
    color: #d99126;
    fill: #d99126;
}

.icon-9 {
    color: #d9b526;
    fill: #d9b526;
}

.icon-10 {
    color: #d99126;
    fill: #d99126;
}

.icon-11 {
    color: #d96e26;
    fill: #d96e26;
}