body {
  background: url('../img/space.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;  
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.content {
    position: fixed;
    bottom: 0;
    width: 50%;
    height: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main_text {
    color: #48633c;
    font-family: 'Space Mono', monospace;
    font-size: 1.15rem;
    padding-top: 10rem;
}

.right_side_text {
    position: fixed;
    right: 2%;
    top: 2%;
    color: #48633c;
    font-family: 'Space Mono', monospace;
    font-size: 0.7rem;
}

#counter_text {
    float: left;
    clear: left;
}

.social_media {
    margin: 0;
    display: flex;
    padding-bottom: 10rem;
    position: fixed;
    bottom: 0;
}

.icons {
    display: block;
    font-size: 0;
    list-style: none;
    margin: 0;
    text-align: center;
}
.icons li {
    display: inline-block;
    margin: 0.001rem;
}
.icons a, .icons svg {
    display: block;
}
.icons a {
    position: relative;
    height: 3.15rem;
    width: 3.15rem;
}
.icons svg {
    height: 60%;
    width: 60%;
}
.icons em {
    font-size: 14px;
    line-height: 1.5;
    margin-top: -0.75em;
    position: absolute;
    text-align: center;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
}
