body {
  background: url('../img/space.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.text {
    color: #d9b526;
    font-family: 'Space Mono', monospace;
    font-size: 1.15rem;
    display: block;
    margin-block-end: 3em;
}

@media (max-width: 720px) {
    .text {
        font-size: 0.85rem;
    }
}

#counter_text {
    float: left;
    clear: left;
}

.right_side_text {
    position: fixed;
    right: 2%;
    top: 2%;
    color: #48633c;
    font-family: 'Space Mono', monospace;
    font-size: 0.7rem;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
}
