body {
  background: url('../img/dunes/green-dark.webp') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.text {
    color: #d9b526;
    font-family: 'Space Mono', monospace;
    font-size: 1.15rem;
    display: block;
    margin-block-end: 3em;
    -webkit-user-select: none;
    -moz-user-select: none;  
    -ms-user-select: none;     
    user-select: none;      
}

.separator {
    border-top: 0.05px solid #d9b526;
}

@media (max-width: 720px) {
    .text {
        font-size: 0.85rem;
    }
    html, body {
        overflow: hidden;
        -webkit-overflow-scrolling: touch;
    }
}

#counter_text {
    float: left;
    clear: left;
}

.right_side_text {
    color: #d99126;
    font-family: 'Space Mono', monospace;
    font-size: 0.7rem;
    position: fixed;
    right: 2%;
    top: 2%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
}
